<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Ubuntu-Regular.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
	</array>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wallet-app</string>
				<string>openid-credential-offer</string>
				<string>openid4vp</string>
				<string>eudi-openid4vp</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
