# SPDX-FileCopyrightText: 2025 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: CC0-1.0

---
name: OpenSSF Scorecard analysis
on:
  push:
    branches:
      - main
  schedule:
    # Weekly.
    - cron: "30 1 * * 5"

permissions:
  contents: read

jobs:
  scorecard-analysis:
    permissions:
      contents: read
      security-events: write
      id-token: write
    uses: diggsweden/reusable-ci/.github/workflows/security-openssf-scorecard.yml@b2df5da509211b4d9f1276b2c601347cd2a27292 # v2.3.2
