# SPDX-FileCopyrightText: 2025 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: CC0-1.0

name: Release Workflow

on:
  push:
    branches: [main]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-alpha*"
      - "v[0-9]+.[0-9]+.[0-9]+-beta*"
      - "v[0-9]+.[0-9]+.[0-9]+-rc*"

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  release:
    uses: diggsweden/reusable-ci/.github/workflows/release-orchestrator.yml@1bf6632ce48686293b0dead5f7bd2bcb5e820172 # v2.3.1
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
      security-events: write
      actions: read
    secrets: inherit
    with:
      artifacts-config: .github/artifacts.yml
      release-publisher: github-cli
      release.attachartifacts: |
        build/export/*.ipa
      release.signartifacts: false
      release.generatesbom: true
